/* CSS Document */

body {
	margin: auto;
	height: 500px;
	padding: 20px;
}

#header {
	width: 100%;
	color: #2890ff;
	font-size: 32px;
	padding: 10px 10px 10px 0px;
	margin-bottom: 15px;
    display:flex;
    justify-content:center;
}

#footer {
	border-top: 1px solid green;
	margin-top: 20px;
	padding-top: 10px;	

    color: #2890ff;
    display: flex;
    justify-content: center;
    
}


.navigation a {
    text-decoration: none;
    color: #333;
}

.content {
    margin-top: 20px;
}

.data-table {
    width: 100%;
    border-collapse: collapse;
}

.header-row {
    background-color: #CCCCCC;
}

.data-table th, .data-table td {
    border: 1px solid #CCCCCC;
    padding: 10px;
    text-align: left;
}

.data-table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.item-image {
    max-width: 100px;
    height: auto;
}

.edit-link, .delete-link {
    text-decoration: none;
    color: #333;
}